<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <input type="text" v-model="serachName" />
      <ul>
        <li v-for="person in updatePerson">
          {{ person.id }}-{{ person.name }}-{{ person.age }}
        </li>
      </ul>
      <button @click="order='up'  ">年龄升序</button>
      <button @click="order = 'down' ">年龄降序</button>
      <button @click="order='default' ">原本顺序</button>
    </div>

    <script src="../js/vue.js"></script>
    <script>
      new Vue({
        el: '#app',
        data: {
          persons: [
            { id: 1, name: 'jack', age: 20 },
            { id: 2, name: 'rose', age: 18 },
            { id: 3, name: 'tom', age: 22 },
            { id: 4, name: 'jerry', age: 19 },
            { id: 5, name: 'marry', age: 30 },
            { id: 6, name: 'mike', age: 11 },
            { id: 7, name: 'john', age: 66 },
            { id: 8, name: 'tony', age: 33 },
          ],
          serachName: '',
          order: 'default',
        },
        computed: {
          updatePerson() {
            const { persons, serachName, order } = this
            const filterPerson = persons.filter((person) => {
              return person.name.indexOf(serachName) !== -1
            })
            if (order === 'default') {
              return filterPerson
            }

            const update = filterPerson.sort((a, b) => {
              return order === 'up' ? a.age - b.age : b.age - a.age
            })
            return update
          },
        },
      })
    </script>
  </body>
</html>
