<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <div id="app">
      <input type="text" v-model="nameSearch" />
      <ul>
        <li v-for="person in updatePersons" :key="person.id">
          {{ person.id }}-{{ person.name }}-{{ person.age}}
        </li>
      </ul>
      <button @click="orderType = 'asc'">年龄升序</button>
      <button @click="orderType = 'desc'">年龄降序</button>
      <button @click="orderType = 'default'">原本顺序</button>
    </div>
  </head>
  <body>
    <script src="../js/vue.js"></script>
    <script>
      new Vue({
        el: '#app',
        data: {
          persons: [
            { id: 1, name: 'jude', age: 20 },
            { id: 2, name: 'bob', age: 19 },
            { id: 3, name: 'paul', age: 33 },
            { id: 4, name: 'jenne', age: 22 },
          ],
          nameSearch: '',
          orderType: 'default',
        },
        computed: {
          updatePersons() {
            const { persons, nameSearch, orderType } = this

            const filterPersons = persons.filter((person) => {
              return person.name.indexOf(nameSearch) !== -1
            })

            if (orderType === 'default') {
              return filterPersons
            }

            const sortPersons = filterPersons.sort((a, b) => {
              return orderType === 'asc' ? a.age - b.age : b.age - a.age
            })
            return sortPersons
          },
        },
      })
    </script>
  </body>
</html>
